{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="container contact-form">
        <h1>Alta Espacio Curricular para</h1>
        <h1>{{ idPlan }} </h1>        
        <hr>
        <form class="form" method="post">
            
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Guardar">
                <a class="btn btn-primary" href="{% url 'verEspacios'%}">Listar Espacios </a></td>
            </div>
        </form>
    </div>
{% endblock %}

