{% extends 'VerBase.html' %}
{% block container %}
<div class="contenedor-tabla">
            <div><h1><a href="/">Lista Notas de Estudiantes</a></h1></div>
            <div class="hidden orden-listado">
               <div class="flex-md-column-reverse" >
                <table class="table-bordered table-hover  " id="table_id" >
                   <thead class="hidden orden-listado">

                        <tr class="table-hover">
                            <th>Estudiante</th>
                            <th>Espacio Curricular</th>
                            <th>Docente</th>
                            <th>Nota</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody >
                        {% block tabla %}
                            {% if object_list %}
                            
                                {% for nota in object_list %}
                                    <tr>
                                        <td>{{ nota.estudiante}}</td>
                                        <td>{{ nota.espacioCurricular}}</td>
                                        <td>{{ nota.docente}}</td>
                                        <td>{{ nota.nota}}</td>
                                        <td><a  class="btn btn-primary" href="{% url 'modificarCalificacion' nota.id %}">Editar </a></td>

                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h1>NO HAY Notas</h1>
                            {% endif %}
                         {%endblock tabla%}
                    </tbody>
                </table>
                </div>
            </div>
            <ul class="pager"></ul>
        </div>
{% endblock container %}

