asgiref==3.7.2
beautifulsoup4==4.12.2
Django==4.2.8
django-autocomplete-light==3.9.7
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
django-crispy-forms==2.1
Faker==21.0.0
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0
django-import-export==3.3.5
pandas==2.1.4

