{% extends 'base.html' %}

{% block content %}
<style>
    #aulas-container,#div2{
      float: left;
      width: 100px;
            height: 200px;
            background-color: #3498db;
    }
    #estudiante-container {
        float:right;
        width: 100px;
            height: 200px;
            background-color: #181616;
    }
    
    </style>
    <h1>Asignar Estudiantes a Aulas</h1>
    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="container" id="aulas-container" style="margin-left: 20px">
            {% for aula in aulas %}
            <div class="aula" id="aula-{{ aula.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

            </div>
            {% endfor %}
        </div>

        <div class="container" id="estudiante-container" style="margin-right: 20px" >
            {% for estudiante in estudiantes %}
            <h3 draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
                {{ estudiante.estudiante.id }} </h3>
             {% endfor %}
        </div>
        
    </div>
        


<script>
            function allowDrop(event) {
                event.preventDefault();
        }

        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }

        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            var estudiante = document.getElementById(data);
            var aula = event.target;
            aula.appendChild(estudiante);

            // Aquí deberías realizar una solicitud AJAX para actualizar la relación entre estudiante y aula en el backend
            var estudianteId = data.split("-")[1];
            var aulaId = aula.id.split("-")[1];

            // Realizar una solicitud AJAX para actualizar la relación en el backend
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Clases/actualizar_relacion/", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            var data = JSON.stringify({
                estudiante_id: estudianteId,
                aula_id: aulaId
            });

            xhr.send(data);
        }
    </script>
{% endblock %}
