{% extends 'index.html' %}

{% block content %}

{% load static %}
<head>
    <style>
        cuerpo {
            display: flex;
            justify-content: space-around;
        }

        #estudiantes-container{
            width: 35%;
        }
        #aulas-container {
            width: 65%;
        }

        .estudiante,
        .aula {
            padding: 10px;
            border: 1px solid #ccc;
            margin: 5px;
            cursor: grab;
        }

        #estudiantes-list,
        #aulas-list {
            list-style: none;
            padding: 0;
        }
        .aula {
            min-height: 50px; /* Asegura que haya suficiente espacio para soltar un elemento */
        }

        .droptarget {
            border: 2px dashed blue; /* Cambia el estilo del borde al pasar sobre el área de soltar */
        }
    </style>

</head>
<a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="0">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
    </a>
<cuerpo>
    
    <div id="estudiantes-container">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
        <h1>Estudiantes</h1>
        <ul id="estudiantes-list">
            {% for estudiante in estudiantes %}
                <li class="estudiante" draggable="true" ondragstart="handleDragStart(event, 
                '{{ estudiante.estudiante.dni }}', 
                '{{ estudiante.estudiante.id }}', 
                '{{ estudiante.estudiante.nombre }}',
                '{{ estudiante.estudiante.apellido }}')" 
                data-id="{{ estudiante.estudiante.id }}" 
                data-dni="{{ estudiante.estudiante.dni }}" 
                data-nombre="{{ estudiante.estudiante.nombre }}"
                data-apellido="{{ estudiante.estudiante.apellido }}">
                {{ estudiante.estudiante.dni  }}: &nbsp {{ estudiante.estudiante.nombre  }}&nbsp {{estudiante.estudiante.apellido}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="aulas-container">
        <h1>Aulas</h1>
        {% for aula in aulas %}
        <div id="aulas-list">
            <li class="aula" ondrop="drop(event)" ondragover="allowDrop(event)" data-id="{{ aula.id }}">
                Aula: {{ aula.division }}
                <ul>
                    {% for estudiante_id, estudiante in estudiantes_aula.items %}
                    {% if estudiante_id == aula.id %}
                    <div>
                        {% for e in estudiante %}
                        <li class="border estudiantes-list">
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <span>{{ e.dni }}: {{ e.nombre }} {{ e.apellido }}</span>
                                <!-- Botón -->
                                <button class="btn btn-danger btn-sm" onclick="eliminarEstudiante('{{ aula.id }}', '{{ e.id }}')">
                                    <small>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
                                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                    </small>
                                </button>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </div>
        {% endfor %}
    </div>
    
        
    <script>
        // Define la función drag en el alcance global
        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }

        const estudiantesList = document.getElementById('estudiantes-list');
        const aulasList = document.getElementById('aulas-list');

        function handleDragStart(event, id, dni, nombre) {
            event.dataTransfer.setData('text/plain', id);
            console.log(`Estudiante ID: ${id}, DNI: ${dni}, Nombre: ${nombre}`);
        }

        function handleDragOver(event) {
            event.preventDefault();
        }

        function allowDrop(event) {
            event.preventDefault();
        }
        function dragenter(event){
            event.preventDefault();
            if ( event.target.className == "droptarget" ) {
            event.target.style.border = "3px dotted red";
            }
        }
        function dragleave(event) {
            event.preventDefault();
            if (event.target.className == "droptarget") {
                event.target.style.border = ""; // Restaura el estilo del borde cuando se sale del área de soltar
            }
        }

    function drop(event) {
    event.preventDefault();

    var dni = event.dataTransfer.getData("text/plain");
    var id = event.dataTransfer.getData("text/plain");
    var apellido = event.dataTransfer.getData("text/plain");
    var nombre = event.dataTransfer.getData("text/plain");
    var aula2= event.target;
    var aula = event.target;

    // Obtener el nombre del aula desde los atributos del dataset
    var aulaId = aula.dataset.id;
 
    var aulaId2 = aula2.dataset.id;

    // Crear un nuevo elemento para el estudiante
    var estudiante = document.createElement("h6");
    estudiante.className = "estudiantes-list";
    estudiante.dataset.dni = dni;
    estudiante.dataset.nombre = nombre;
    estudiante.dataset.apellido = apellido;
    estudiante.dataset.id = id;


    // Agregar el estudiante al aula
    aula.appendChild(estudiante);

    // Mostrar información por consola
    console.log(`Estudiante ${id} asignado al aula ${aulaId},${aulaId2}`);

    // Obtener el token CSRF utilizando querySelector
    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    // Realizar una solicitud AJAX para actualizar la relación en el backend
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/Clases/actualizar_relacion/", true);  // Configurar como sincrónico
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.setRequestHeader("X-CSRFToken", csrfToken); // Incluir el token CSRF en la cabecera

    var data = JSON.stringify({
        estudiante_id: id,
        aula_nombre: aulaId  // Enviar el nombre del aula en lugar de su ID
    });

    console.log("aca vamoooos",data);

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.success) {
                    // Mostrar mensaje de éxito en algún lugar de tu interfaz
                    console.log("entre acaaa! llego bien",response.message);
                    //alert(response.message);  // Puedes usar alert o mostrarlo de otra manera
                    swal("Estudiante asignado correctamente", {
                                icon: "success",
                            }).then(() => {
                            location.reload();
                        });
                    
                } else {
                    // Manejar el caso de no éxito si es necesario
                }
            } else {
                // Manejar errores de la solicitud AJAX si es necesario
            }
        }
    };

    xhr.send(data);

}


function eliminarEstudiante(idAula, idEstudiante) {
    // Realiza una solicitud AJAX para eliminar el estudiante del aula
    $.ajax({
        type: 'POST',
        url: '/Clases/eliminarAlumno/',
        data: {
            aula_id: idAula,
            estudiante_id: idEstudiante,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
            if (data.success) {
                // Actualiza el mensaje con éxito
                console.log("Estudiante eliminado del aula con éxito");
                swal("Estudiante eliminado correctamente!", {
                            icon: "success",
                        }).then(() => {
                            location.reload();
                        });

            } else {
                // Actualiza el mensaje con error
                console.log("Error al eliminar el estudiante del aula");
            }
        },
        error: function () {
            console.log("Error en la solicitud AJAX");
        }
    });
}


    </script>
</cuerpo>

</html>
{% endblock content %}
