{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <style>
        cuerpo {
            display: flex;
            justify-content: space-around;
        }

        #alumnos-container,
        #aulas-container {
            width: 45%;
        }

        .alumno,
        .aula {
            padding: 10px;
            border: 1px solid #ccc;
            margin: 5px;
            cursor: grab;
        }

        #alumnos-list,
        #aulas-list {
            list-style: none;
            padding: 0;
        }
    </style>
    <title>Asignación de Aulas</title>

</head>

<cuerpo>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div id="alumnos-container">
        <h1>Alumnos</h1>
        <ul id="alumnos-list">
            {% for estudiante in estudiantes %}
                <li class="alumno" draggable="true" ondragstart="handleDragStart(event, 
                '{{ estudiante.estudiante.Dni }}', 
                '{{ estudiante.estudiante.id }}', 
                '{{ estudiante.estudiante.Nombre }}')" 
                data-id="{{ estudiante.estudiante.id }}" 
                data-dni="{{ estudiante.estudiante.Dni }}" 
                data-nombre="{{ estudiante.estudiante.Nombre }}">
                {{ estudiante.estudiante.Nombre  }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="aulas-container">
        <h1>Aulas</h1>
        <ul id="aulas-list">
            {% for aula in aulas %}
                <li class="aula" ondrop="drop(event)" ondragover="allowDrop(event)" data-id="{{ aula.id }}">
                    {{ aula.id }}
                    {% for alumno in alumnos_aula %}
                        {% if alumno.id == aula.estudiante.id %}
                            <div>
                                <h6>{{ alumno.Nombre }}</h6> 
                                <button class="btn btn-danger btn-sm" onclick="eliminarAlumno({{ aula.estudiante.id }})">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        // Define la función drag en el alcance global
        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }

        const alumnosList = document.getElementById('alumnos-list');
        const aulasList = document.getElementById('aulas-list');

        function handleDragStart(event, id, dni, nombre) {
            event.dataTransfer.setData('text/plain', id);
            console.log(`Estudiante ID: ${id}, DNI: ${dni}, Nombre: ${nombre}`);
        }

        function handleDragOver(event) {
            event.preventDefault();
        }

        function allowDrop(event) {
            event.preventDefault();
        }
        function dragenter(event){
            event.preventDefault();
            if ( event.target.className == "droptarget" ) {
    event.target.style.border = "3px dotted red";
  }
        }

    function drop(event) {
    event.preventDefault();

    var dni = event.dataTransfer.getData("text/plain");
    var id = event.dataTransfer.getData("text/plain");
    var aula2= event.target;
    var aula = event.target;

    // Obtener el nombre del aula desde los atributos del dataset
    var aulaId = aula.dataset.id;
 
    var aulaId2 = aula2.dataset.id;

    // Crear un nuevo elemento para el estudiante
    var estudiante = document.createElement("li");
    estudiante.className = "alumno";
    estudiante.draggable = true;
    estudiante.dataset.Dni = dni;
    estudiante.dataset.id = id;
    estudiante.innerText = "Estudiante " + dni;

    // Agregar el estudiante al aula
    aula.appendChild(estudiante);

    // Mostrar información por consola
    console.log(`Estudiante ${id} asignado al aula ${aulaId},${aulaId2}`);

    // Obtener el token CSRF utilizando querySelector
    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    // Realizar una solicitud AJAX para actualizar la relación en el backend
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/Clases/actualizar_relacion/", true);  // Configurar como sincrónico
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.setRequestHeader("X-CSRFToken", csrfToken); // Incluir el token CSRF en la cabecera

    var data = JSON.stringify({
        estudiante_id: id,
        aula_nombre: aulaId  // Enviar el nombre del aula en lugar de su ID
    });

    console.log("aca vamoooos",data);

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.success) {
                    // Mostrar mensaje de éxito en algún lugar de tu interfaz
                    console.log(response.message);
                    alert(response.message);  // Puedes usar alert o mostrarlo de otra manera
                    location.reload()
                } else {
                    // Manejar el caso de no éxito si es necesario
                }
            } else {
                // Manejar errores de la solicitud AJAX si es necesario
            }
        }
    };

    xhr.send(data);

}


function eliminarAlumno(idAula) {
    // Realiza una solicitud AJAX para eliminar el detalle de horario
    $.ajax({
        type: 'POST',  // Puedes ajustar el método según tu vista de Django
        url: '/Clases/eliminarAlumno/',
        data: {
        detalle_id: idAula,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function (data) {
            if (data.success) {
                location.reload()
                $('#mensaje').html('<div class="alert alert-warning" role="alert"> MEnsaje de exito</div>');
                // Actualiza el mensaje con éxito
                //mostrarMensaje("Detalle de horario eliminado con éxito");
            } else {
                // Actualiza el mensaje con error
                $('#mensaje').html('<div class="alert alert-warning" role="alert"> MEnsaje de Error</div>');
                // mostrarMensaje("Error al eliminar el detalle de horario", true);
            }
        }
    });
}

    </script>
</cuerpo>

</html>
{% endblock content %}
