{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<head>
    <title>Crear y Mostrar Horario</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Columna para el formulario -->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h1>Alta Horario</h1>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% bootstrap_form form %}
                        <hr>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Columna para la tabla -->
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div  class="alert alert-warning" role="alert" id="mensaje"></div>
                
                <h1>Mostrar Horario</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sabado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for modulo in modulos %}
                            <tr>
                                <td>{{ modulo }}</td>
                                {% for dia in dias %}
                                    <td>
                                        {% for horario in horarios %}
                                            {% if horario.hora == modulo and horario.dia == dia %}
                                                <h5>{{ horario.espacioCurricular.nombre }}</h5>
                                                <button class="btn btn-danger btn-sm" onclick="eliminarDetalleHorario({{horario.id}})">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function cargarDatosHorario() {
            var division_id = $('#id_division').val();
            console.log(division_id);
        }
    </script>
    <script>
        function cargarDatosHorario() {
            var division_id = $('#id_division').val();
            console.log(division_id);
            // Realizar la solicitud AJAX para ob  tener datos del horario
            $.ajax({
                    type: 'GET',
                    url: $(this).data('url'),  // Obtén la URL relativa desde el atributo data-url
                    data: {
                        division_id: division_id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                        console.log("Llego volvio")
                        console.log(data);
                    }
                });
        }
    </script>
    <script>

        function eliminarDetalleHorario(detalleId) {
            // Realiza una solicitud AJAX para eliminar el detalle de horario
            $.ajax({
                type: 'POST',  // Puedes ajustar el método según tu vista de Django
                url: 'eliminar_detalle_horario/',
                data: {
                detalle_id: detalleId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                    if (data.success) {
                        // Actualiza el mensaje con éxito
                        mostrarMensaje("Detalle de horario eliminado con éxito");
                    } else {
                        // Actualiza el mensaje con error
                        mostrarMensaje("Error al eliminar el detalle de horario", true);
                    }
                }
            });
        }

        function mostrarMensaje(mensaje, esError = false) {
            // Selecciona el elemento del mensaje
            var mensajeElemento = $('#mensaje');
            
            // Establece el contenido del mensaje
            mensajeElemento.text(mensaje);

            // Agrega clases de estilo según si es un mensaje de éxito o error
            if (esError) {
                mensajeElemento.removeClass('mensaje-exito').addClass('mensaje-error');
            } else {
                mensajeElemento.removeClass('mensaje-error').addClass('mensaje-exito');
            }
        }
    </script>
</body>
{% endblock %}
