{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<head>
    <title>Crear y Mostrar Horario</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Columna para el formulario -->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h1>Alta Horario</h1>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% bootstrap_form form %}
                        <hr>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Columna para la tabla -->
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div id="mensaje"></div>
                
                <h1>Mostrar Horario</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sabado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for modulo in modulos %}
                            <tr>
                                <td>{{ modulo }}</td>
                                {% for dia in dias %}
                                    <td id="tabla-render">
                                        {% for horario in horarios %}
                                            {% if horario.hora == modulo and horario.dia == dia %}
                                            <div id="datos">

                                                <h5>{{ horario.espacioCurricular.nombre }}</h5>
                                                <button class="btn btn-danger btn-sm" onclick="eliminarDetalleHorario({{horario.id}})">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>    
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function cargarDatosHorario() {
            var division_id = $('#id_division').val();
            console.log(division_id);
        }
    </script>
    <script>
        function cargarDatosHorario() {
            var division_id = $('#id_division').val();
            console.log(division_id);
            // Realizar la solicitud AJAX para ob  tener datos del horario
            $.ajax({
        type: 'GET',
        url: $(this).data('url'),
                    type: 'GET',
                    url: $(this).data('url'),  // Obtén la URL relativa desde el atributo data-url
                    data: {
                        division_id: division_id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                        console.log("Llego volvio")
                        console.log(data);
                    }
                    }
                });
        }
        }
            division_id: division_id,
        },
        dataType: 'json',
        success: function (data) {
            console.log("Llego volvio");

            // Limpiar la tabla antes de agregar nuevos datos
            $('#tabla-render').empty();

            // Obtener días y horas
            var dias = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
            var modulos = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'];  // Ajusta esto según tus necesidades

            // Generar dinámicamente el contenido de la tabla
            for (var i = 0; i < modulos.length; i++) {
                console.log("entre a modulos");
                var modulo = modulos[i];
                var fila = '<tr>';
               // fila += '<td>' + modulo + '</td>';

                for (var j = 0; j < dias.length; j++) {
                    var dia = dias[j];
                    var contenido = '';

                    for (var k = 0; k < data.length; k++) {
                        var horario = data.nombre[k];
                        console.log(horario);
                        if (horario.hora == modulo && horario.dia == dia) {
                            contenido = '<div id="datos">' +
                                '<h5>' + horario + '</h5>' +
                                '<button class="btn btn-danger btn-sm" onclick="eliminarDetalleHorario(' + horario.id + ')">' +
                                '<i class="fas fa-times"></i>' +
                                '</button>' +
                                '</div>';
                            break;
                        }

                    }

                    //fila += '<td>' + contenido + '</td>';
                }

                //fila += '</tr>';

                // Agregar fila a la tabla
                $('#tabla-render').append(fila);
            }
        },
        error: function (error) {
            console.log("Error al cargar datos de horario:", error);
        }
    });
}
    </script>
    <script>

        function eliminarDetalleHorario(detalleId) {
            // Realiza una solicitud AJAX para eliminar el detalle de horario
            $.ajax({
                type: 'POST',  // Puedes ajustar el método según tu vista de Django
                url: 'eliminar_detalle_horario/',
                data: {
                detalle_id: detalleId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                    if (data.success) {
                        location.reload()
                        $('#mensaje').html('<div class="alert alert-warning" role="alert"> MEnsaje de exito</div>');
                        // Actualiza el mensaje con éxito
                        mostrarMensaje("Detalle de horario eliminado con éxito");
                    } else {
                        // Actualiza el mensaje con error
                        mostrarMensaje("Error al eliminar el detalle de horario", true);
                    }
                }
            });
        }

        function mostrarMensaje(mensaje, esError = false) {
            // Selecciona el elemento del mensaje
            var mensajeElemento = $('#mensaje');
            
            // Establece el contenido del mensaje
            mensajeElemento.text(mensaje);

            // Agrega clases de estilo según si es un mensaje de éxito o error
            if (esError) {
                mensajeElemento.removeClass('mensaje-exito').addClass('mensaje-error');
            } else {
                mensajeElemento.removeClass('mensaje-error').addClass('mensaje-exito');
            }
        }
    </script>
</body>
{% endblock %}
