{% extends 'base.html' %}
{% load bootstrap5 %}
{% block header %}
<header class= "p-3 text-bg-dark"> 
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-item">
                  <a class="nav text-left" href="/home2"  role="button"  aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="margin-top:3px; color:white" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/></path>
                          </svg>
                  </a>
              </li>

              <li class="nav-item" >                    
                  <a class="nav-link ml-auto text-left" style="color:red" href="menuCursada"  role="button"  aria-haspopup="true" aria-expanded="false">Cursada</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link ml-auto text-left" href="/Core/inscripcion"  role="button"  aria-haspopup="true" aria-expanded="false">Inscripciones</a>
              </li> 
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Altas</a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/altaEstudiante">Estudiante </a></li>
                          <li><a class="dropdown-item" href="/Core/altaDocente">Docente </a></li>
                          <li><a class="dropdown-item" href="/Cursada/altaDivision">Division </a></li>
                          <li><a class="dropdown-item" href="/Cursada/altaHorario">Horario </a></li>
                      </ul>
                  </li>
                
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ver </a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/verEstudiantes">Estudiantes</a> </li>
                          <li><a class="dropdown-item" href="/Core/verDocentes">Docentes</a> </li>
                          <li><a class="dropdown-item" href="/Cursada/verDivision">Divisiones</a> </li>
                          <li><a class="dropdown-item" href="/Cursada/verHorario">Horario</a> </li>
                          <li><a class="dropdown-item" href="#">Ayudas</a></li>
                      </ul>
                  </li>
              </li>
          </ul>  
          <div class="dropdown text-end">
            <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              </svg>
            </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/signin">Iniciar</a></li>
                <li><hr class="dropdown-divider"></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/signup">Crear</a></li>
                {% endif %}    
              </ul>
            </div>
          </div>
        </div>
      </header>

  {% endblock header %}
<div class="container-fluid">
    {% block content %}

    <div class="container container-fluid p-5 text-center">
        <h2 style="color: aliceblue;"> Años del ciclo actual</h2>

    <div class="row container-fluid">
        {% for anio in anios %}
        <div class="col-sm-4 mb-4">
            <div class="card" style="width: 18rem;">
                <h1> {{ anio.codigo}}</h1>
                   <div class="card-body d-flex flex-column">
                       <a href="/Core/verDivisionInasistencia/{{anio.id }}/{{ciclo.id}}" class="card-link">Ver Divisiones</a>
                    </div>
                </div>          
            </div>
            <th></th>
            {% endfor %}
        </div>        
    </div>
</div>
    {% endblock %}