{% extends 'base.html' %}
{% block header %}
<header class= "p-3 text-bg-dark"> 
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-item">
                  <a class="nav text-left" href="/home2"  role="button"  aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="margin-top:3px; color:white" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/></path>
                          </svg>
                  </a>
              </li>

              <li class="nav-item" >                    
                  <a class="nav-link ml-auto text-left" style="color:red" href="/Core/menuPlanDeEstudio"  role="button"  aria-haspopup="true" aria-expanded="false">Plan </a>
              </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Altas</a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/altaPlan">Plan de estudios </a></li>
                          <li><a class="dropdown-item" href="/Core/altaDocente">Docente </a></li>
                          <li><a class="dropdown-item" href="/Core/altaEstudiante">Estudiante </a></li>
                      </ul>
                  </li>
                
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ver </a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/verEstudiantes">Estudiantes</a> </li>
                          <li><a class="dropdown-item" href="/Core/verDocentes">Docentes</a> </li>
                          <li><a class="dropdown-item" href="/Cursada/verDivision">Divisiones</a> </li>
                          <li><a class="dropdown-item" href="#">Ayudas</a></li>
                      </ul>
                  </li>
              </li>
          </ul>  
            <div class="dropdown text-end">
              <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img  alt="login" class="rounded-circle" width="32" height="32">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/signin">Iniciar</a></li>
                <li><hr class="dropdown-divider"></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/signup">Crear</a></li>
                {% endif %}    
              </ul>
            </div>
          </div>
        </div>
      </header>

  {% endblock header %}

{% block content %}

<div id="section1" class="container-fluid bg-success text-white" style="padding:50px 50px;">
    <h1>Plan de estudios </h1>
    <a href="/Core/verPlan">
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"></path>
        </svg>
        Plan de Estudio
    </button>
    </a>
  </div>
  
  <div id="section2" class="container-fluid bg-warning" style="padding:50px 50px;">
    <h1>Inicio del ciclo lectivo</h1>
    <a href="/Core/altaCiclo/1">
    <button type="button" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"></path>
      </svg>
      Ciclos Lectivos
  </button>
  </a>  
  </div>
  
  <div id="section3" class="container-fluid bg-secondary text-white" style="padding:50px 50px;">
    <h1>Inscripcion de Alumno  3</h1>
    <a href="altaEstudiante">
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"></path>
        </svg>
        Inscribir Alumno a Curso
    </button>
    </a>
  
{% endblock %}

