{% extends 'Core/Plan/menuPlan.html' %}
{% block content %}
{% load bootstrap5 %}

    <div class="container contact-form">
        {% if edit == True %}
        <h1> Modificar Plan</h1>
        {% else %}
        <h1>Alta Plan</h1>
        {% endif %}
        <hr>
        <form class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Guardar">
            </div>
        </form>
    </div>
{% endblock content %}
