{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="container-fluid p-5 bg-primary text-center">
    <div class="row container-fluid">
    {% for anio in anioPlan %}
    <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <h1> {{ anio.codigo}}</h1>
                   <div class="card-body">
                      <a href="/Core/altaDivision/{{anio.id }}/{{id}}/" class="card-link">Alta division</a>
                      <a href="/Core/verDivision/{{anio.id }}" class="card-link">Ver Divisiones</a>
                    </div>
                </div>          
        </div>
        {% endfor %}
    </div>        
    </div>
{% endblock %}