{% extends 'index.html' %}

{% block content %}
{% load bootstrap5 %}

<div class="container contenedor-tabla">
    <div>
        <h1><a href="#">Lista Division</a></h1>
    </div>
    <div class="hidden orden-listado">
        <div class="flex-md-column-reverse">
            <table class="table table-bordered table-hover" id="table_id">
                <thead class="hidden orden-listado">
                    <tr class="table-hover">
                        <th>Anio</th>
                        <th>Division</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="divisions-table-body">
                    {% for division in divisiones %}
                    <tr>
                        <td>{{ division.anio.codigo }}</td>
                        <td>{{ division.codigo }}</td>
                        <td>{{ division.descripcion }}</td>
                        <td>
                            <a type="button" class="btn btn-success" href="/Clases/crear_horario/{{ division.id }}/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                                </svg>
                                Horarios
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">NO HAY DIVISION PARA LISTAR</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            <button id="create-division-btn" class="btn btn-primary mr-2">Nuevo</button>
            <button id="delete-division-btn" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
    <div class="alert alert-primary d-flex align-items-center" role="alert" style="display: none;">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
            Hay {{ cant_estudiantes }} alumnos inscriptos
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Check the number of rows in the table
        function checkDivisionCount() {
            const rowCount = $('#divisions-table-body tr').length;
            if (rowCount <= 1) {
                $('#delete-division-btn').prop('disabled', true);
            } else {
                $('#delete-division-btn').prop('disabled', false);
            }
        }

        // Initial check
        checkDivisionCount();

        $('#create-division-btn').click(function() {
            $.ajax({
                url: '/Core/crearDivision/{{ anio }}/{{ id }}/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        displayMessage(response.message, 'alert-danger');
                    }
                }
            });
        });

        $('#delete-division-btn').click(function() {
            $.ajax({
                url: '/Core/division/eliminar/{{ anio }}/{{ id }}/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        displayMessage(response.message, 'alert-danger');
                    }
                }
            });
        });

        function displayMessage(message, alertClass) {
            $('#messages').html(
                '<li class="' + alertClass + '">' + message + '</li>'
            ).show();
        }
    });
</script>
{% endblock scripts %}
