{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}

<div class="container contenedor-tabla">
    <div>
        <h1><a href="#">Lista Division</a></h1>
    </div>
    <div class="hidden orden-listado">
        <div class="flex-md-column-reverse">
            <table class="table table-bordered table-hover" id="table_id">
                <thead class="hidden orden-listado">
                    <tr class="table-hover">
                        <th>Anio</th>
                        <th>Division</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for division in divisiones %}
                    <tr>
                        <td>{{ division.anio.codigo }}</td>
                        <td>{{ division.codigo }}</td>
                        <td>{{ division.descripcion }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">NO HAY DIVISION PARA LISTAR</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/Core/verDivision/{{ anio }}/{{ id}}/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Nuevo</button>
            </form>
        </div>
    </div>
    <h1> Hay {{cant_alumnos}} alumnos inscriptos</h1>
</div>

{% endblock content %}
