{% extends 'index.html' %}
{% load bootstrap5 %}


{% block content %}

<div class="container">
<h1>
    Plan de estudios
</h1>
Años del plan
{{ cantidadAnios }}

<h4>Espacios curriculares por año</h2>
    {% if espaciosCurriculares %}
    <table class="table table-bordered">
        <th>Espacios curriculares</th>
        <th>Año</th>
            {% for espacio in espaciosCurriculares %}
                {% if espacio.Anio == num %} 
                <tr>
                    <td> {{ espacio.nombre }}</td>
                    <td> {{ espacio.anio }}</td>                 
                </tr>
                    {% endif %}
            {% endfor %}


    </table>
    {% else %}
    <h3>No hay espacios curriculares cargados</h3>
    {% endif %}
</div>


{% endblock content%}
