{% extends 'Core/Plan/menuPlan.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container container-table">
    <h1>Listado de PLANES DE ESTUDIO</h1>
    <div class="form-inline mt-3">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputAnio" class="sr-only">Año</label>
            <input type="text" class="form-control" id="inputAnio" placeholder="Ingrese el año">
        </div>
    </div>
    <div class="p-5 text-center" id="resultadoBusqueda">
        <div class="row" id="isotope-container">
            {% if planes %}
                {% for plan in planes %}
                    <div class="col-sm-4 mb-4 plan" data-anio="{{ plan.anio }}">
                        <div class="card" style="width: 18rem; height: 100%;">
                            {% if plan.esActual %}
                                <h2>Plan actual</h2>
                            {% endif %}
                            <h1>{{ plan.codigo }}</h1>
                            <h3>{{ plan.descripcion }}</h3>
                            <h4>{{ plan.anio }}</h4>
                            <h5>{{ plan.orientacion }}</h5>
                            <div class="card-body d-flex flex-column">
                                {{plan.implementado}}
                                {% if not plan.implementado %}
                                <a class="btn btn-primary m-2" href="/Core/modificarPlan/{{ plan.id }}">Editar</a>
                                <a class="btn btn-primary m-2" href="/Core/verEspacioCurricularEnPlan/{{ plan.id }}">Espacios curriculares</a>
                                {% else %}
                                <a class="btn btn-primary m-2" href="/Core/verCicloEnPlan/{{ plan.id }}">Ver Ciclos implementados</a>
                                {% endif %}
                                {% if not plan.esActual %}
                                <a class="btn btn-primary m-2" href="/Core/cambiar_actual/{{ plan.id }}">Cambiar PlanActual</a>
                                {% endif %}
                                <!-- Agrega el siguiente estilo para que los botones siempre se muestren -->
                                <div style="margin-top: auto;"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>NO HAY PLANES PARA LISTAR</h1>
            {% endif %}
        </div>
        <div class="container-fluid p-5 bg-secondary text-center">
            <a class="btn btn-primary" href="/Core/altaPlan">Alta Plan de Estudio</a>
        </div>
    </div>
</div>

{% block scripts %}
<!-- Script JavaScript -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
$(document).ready(function () {
    var $container = $('#isotope-container').isotope({
        itemSelector: '.plan',
        layoutMode: 'fitRows'
    });

    // Filtrar cuando se escriba en el campo de año
    $('#inputAnio').on('input', function () {
        var anio = $(this).val().toLowerCase();
        if (anio === '') {
            $container.isotope({ filter: '*' }); // Mostrar todos los planes
        } else {
            $container.isotope({ filter: '[data-anio*="' + anio + '"]' });
        }
    });

    // Filtrar al presionar Enter en el campo de año
    $('#inputAnio').keypress(function (e) {
        if (e.which === 13) {
            var anio = $(this).val().toLowerCase();
            if (anio === '') {
                $container.isotope({ filter: '*' }); // Mostrar todos los planes
            } else {
                $container.isotope({ filter: '[data-anio*="' + anio + '"]' });
            }
        }
    });
});

</script>
{% endblock scripts %}

{% endblock content %}
