{% extends 'base.html' %}
{% block content %}
        <div class="contenedor-tabla">
            <div><h1><a href="/">Lista Plan</a></h1></div>
            <div class="hidden orden-listado">
               <div class="flex-md-column-reverse" >
                 <table class="table-bordered table-hover"  >
                   <thead class="hidden orden-listado">

                        <tr class="table-hover">
                            <th>Codigo</th>
                            <th>Anio</th>
                            <th>Orientacion</th>
                            <th>Nivel</th>
                            <th>Descricion</th>
                            <th>Cantidad de Años</th>
                             <th>#</th>
                        </tr>
                    </thead>
                <tbody>
                    {% if planes %}
                        {% for plan in planes %}
                            <tr>
                                <td>{{ plan.codigo}}</td>
                                <td>{{ plan.anio}}</td>
                                <td>{{ plan.orientacion}}</td>
                                <td>{{ plan.nivel}}</td>
                                <td>{{ plan.descripcion}}</td>
                                <td>{{ plan.cantidadAnios}}</td>
                                <td><a  class="btn btn-primary" href="{% url 'modificarPlan' plan.id %}">Editar </a>
                                <a class="btn btn-primary" href="{% url 'agregarEspacio' plan.id %}">+ Espacio </a></td>
                            </tr>
                         {% endfor %}
                    {% else %}
                        <h1>NO HAY PLANES PARA LISTAR</h1>
                    {% endif %}
                    </tbody>
                </table>
                </div>
            </div>
            <ul class="pager"></ul>
        </div>
{%endblock content%}