<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% block css %}{% endblock %}
</head>

{% block header %}
<body> 
  <header class= "p-3 text-bg-dark"> 
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-item">
                  <a class="nav text-left" href="/home2"  role="button"  aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="margin-top:3px; color:white" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/></path>
                          </svg>
                  </a>
              </li>

              <li class="nav-item" >                    
                  <a class="nav-link ml-auto text-left" style="color:red" href="/cursada"  role="button"  aria-haspopup="true" aria-expanded="false">Cursada</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link ml-auto text-left" href="/Core/inscripcion"  role="button"  aria-haspopup="true" aria-expanded="false">Inscripciones</a>
              </li> 
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Altas</a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/altaEstudiante">Estudiante </a></li>
                          <li><a class="dropdown-item" href="/Core/altaDocente">Docente </a></li>

                      </ul>
                  </li>
                
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ver </a>
                      <ul class="dropdown-menu">   
                          <li><a class="dropdown-item" href="/Core/verEstudiantes">Estudiantes</a> </li>
                          <li><a class="dropdown-item" href="/Core/verDocentes">Docentes</a> </li>
                          <li><a class="dropdown-item" href="#">Ayudas</a></li>
                      </ul>
                  </li>
              </li>
          </ul>  
            <div class="dropdown text-end">
              <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img  alt="login" class="rounded-circle" width="32" height="32">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/signin">Iniciar</a></li>
                <li><hr class="dropdown-divider"></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="/signup">Crear</a></li>
                {% endif %}    
              </ul>
            </div>
          </div>
        </div>
      </header>
      {% endblock header %}

      {% block content %}


      {% endblock %}
    
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}
</html>