
<!DOCTYPE html>
<html lang="en">

    <!-- {% load static %} -->
    <!-- <script type="text/javascript" src="{% static 'autocomplete/autocomplete.js' %}"></script> -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#">


    <title>SGE -  Cursada</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- CSS y JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- CSS de DataTables -->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Custom fonts for this template-->
    <!-- <link href= "/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href= "{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
     <!-- Custom styles for this template-->
     <!-- <link href="/static/css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    {% load bootstrap5 %}
    {% block css %}
    {% endblock %}
    
</head>
{% block sidebar %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
   
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path fill="#ffffff" d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg>
                </div>
                <div class="sidebar-brand-text mx-3">Cursada<sup>SGE</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-school "></i>
                    <span>Menu Principal</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Accesos Rapidos
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            {% if request.hayCicloActivo %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="far fa-file"></i>
                    <span>Cursada</span>
                </a>
                <div id="collapseTree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion de Cursada</h6>
                        <a class="collapse-item" href="/Core/aniosDePlanActual">Inasistencias</a></a>
                        <a class="collapse-item" href="/Clases/clases/menu"> Menu</a>
                    </div>
                </div>
            </li>
            {% endif %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="far fa-calendar-alt "></i>
                    <span>Plan de estudio</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion de Plan </h6>
                        <a class="collapse-item" href="/Core/plan/menu"> Menu</a>
                    </div>
                </div>
            </li>
            {% if request.hayPlan %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCiclo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Ciclo</span>
                </a>
                <div id="collapseCiclo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion de Ciclos </h6>
                        <a class="collapse-item" href="/Core/ciclo/menu"> Menu</a>
                        {% if request.hayCicloActivo %}
                            <a class="collapse-item" href="/Core/anio/verActual">Ciclo Actual</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
            <!-- Nav Item - Utilities Collapse Menu -->
            {% if request.hayCicloActivo %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-user-check"></i>
                    <span>Inscripciones</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Inscripciones:</h6>
                        <a class="collapse-item" href="/Core/estudiante/inscripcion">Estudiantes</a>
                        <a class="collapse-item" href="/Core/docente/inscripcion">Docentes</a>
                        
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Iniciales
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-user-graduate fa-folder"></i>
                    <span>Personas</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Alta personas</h6>
                        <a class="collapse-item" href="/Core/estudiante/alta">Estudiante</a>
                        <a class="collapse-item" href="/Core/docente/alta">Docente</a>
                        <a class="collapse-item" href="/Core/localidad/alta">Localidad</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseList"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Listados</span>
                </a>
                <div id="collapseList" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listados</h6>
                        <a class="collapse-item" href="/Core/estudiante/ver">Estudiante</a>
                        <a class="collapse-item" href="/Core/docente/ver">Docente</a>
                        <a class="collapse-item" href="/Core/localidad/ver">Localidad</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRep"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseRep" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reportes</h6>
                        <a class="collapse-item" href="/Clases/reportesGraficos/">Inasistencias</a>
                        <a class="collapse-item" href="/Clases/reporte/">Calificaciones</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCargas"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Cargas</span>
                </a>
                <div id="collapseCargas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cargas</h6>
                        <a class="collapse-item" href="/Core/importar/">Cargar</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            {% endblock sidebar %}


        </ul>
        <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            
            <div id="content">
                    <!-- Topbar Search -->
                        
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="container input-group btn-primary d-flex flex-column">
        {% if request.hayPlan %}
        <h4 class="mb-0">{{request.plan}}</h4>
        {% else %}
        <h4> No hay plan vigente</h4>
        {% endif %}
        {% if request.ciclo %}
        <h4 class="mb-0">Ciclo: {{request.ciclo}}</h4>
        {% else %}
        <h4> No hay ciclo vigente</h4>
        {% endif %}
    </div>
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cambiar clave
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar sesión
                </a>
            </div>
        </li>
    </ul>
</nav>

                
                <!-- End of Topbar -->
                
                <div class="container-fluid">
                    
                    {% if messages %}
                    {{messages.tags}}
                    <ul class="messages">
                        {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
                    </ul>
                    {% endif %}

                {% block content %}
                <!-- Begin Page Content -->

                    <!-- Page Heading
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Ciclo lectivo activo</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div> -->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Gestion Plan de estudio</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <a class="card-title center" href="/Core/plan/menu" >Ir </a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.hayPlan %}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Gestion de Ciclos Lectivos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <a class="card-title" href="Core/ciclo/menu">Ir</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-open fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if request.hayCicloActivo %}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Gestion de cursada asistencia
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        <a class="card-title" href="Clases/clases/menu" > Ir</a>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
              

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>
</div>
    <!-- End of Main Content -->
    {% endblock content %}
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cierre de sesion</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Esta seguro que desea cerrar sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/logout">Cerrar sesion</a>
                </div>
            </div>
        </div>
    </div>
        
    
    
    <!-- End of Content Wrapper -->
    
    {% block footer %}
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Email: sgemail.sge.2024@gmail.com &copy; SGE 2024</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    {% endblock footer %}
        </div>
    <!-- End of Page Wrapper -->
    
    <!-- Bootstrap core JavaScript-->
    <!-- <script src= "/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src= "{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Core plugin JavaScript-->
    <!-- <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->

    <!-- Page level plugins -->
    <!-- <script src="/static/vendor/chart.js/Chart.min.js"></script> -->

    <script src="{% static '/vendor/chart.js/Chart.min.js' %}"></script>


    <!-- <script src="/static/js/sb-admin-2.min.js"></script> -->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <!-- <script src= "/static/js/demo/chart-area-demo.js"></script> -->
    <script src= "{% static 'js/demo/chart-area-demo.js' %}"></script>
    <!-- <script src="/static/js/demo/chart-pie-demo.js"></script> -->
    
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    {% block scripts %}

    <script>
        $(document).ready(function(){
        // Selector para el botón que abre el modal
        $('#abrirModalBtn').click(function(){
            // Selecciona el modal por su ID y lo muestra
            $('#mostrarHorarioModal').modal('show');
        });
    });     
    </script>
    
    <!-- Agregar tu código JavaScript personalizado aquí -->
    {% endblock scripts %}


</body>


</html>