{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg4 col-xl-4">
        <h2> Inscripciones</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" name="cicloLectivo" id="cicloLectivo" class="form-control" placeholder="Ciclo lectivo" minlength="6" 
                        required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="anio" id="anio" class="form-control" placeholder="anio" minlength="6" 
                        required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="estudiante" id="estudiante" class="form-control" placeholder="estudiante" minlength="6" 
                        required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="otro" id="otro" class="form-control" placeholder="Otro" minlength="6" 
                        required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Inscribir</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg4 col-xl-4">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    </div>
</div>
    {% endblock %}

{% block scripts %}
    {% comment %} <!--script src="{% static 'autocomplete_light/autocomplete.js' %}"></script--> {% endcomment %}
<link rel="stylesheet" href="{% static 'autocomplete_light/style.css' %}" type="text/css" media="all" />
<script type="text/javascript">
    $(document).ready(function() {
        $('input[name="my_field"]').autocomplete({
            serviceUrl: '{% url "my_autocomplete" %}',
            onSelect: function(suggestion) {
                console.log('Seleccionaste ' + suggestion.value);
            }
        });
    });
{% endblock %}
</script>