{% extends 'index.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="alert alert-success">
            <h4 class="alert-heading">Contraseña cambiada</h4>
            <p>Tu contraseña ha sido cambiada con éxito.</p>
            <hr>
            {% if not request.user.is_staff %}
        <a href="/Core/docente/menu">&larr; Volver al menu principal</a>
        {% else %}
        <a href="/">&larr; Volver al menu principal</a>
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}
