{% extends "signin.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="bi bi-envelope"></i> Restablecer contraseña
            </div>
            <div class="card-body">
                <p class="lead">
                    Le hemos enviado por correo electrónico instrucciones para configurar su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de spam.
                </p>
                <p class="mt-3">

                </p>
                <p class="mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
