{% extends 'base.html' %}
{% load bootstrap5 %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <h2>Cambiar Contraseña</h2>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
    </form>
    
  </div>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Mail</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}