{% extends 'principal.html' %}
{% load bootstrap5 %}
{% block header %}
{% endblock header %}
{% block content %}


<li {% if error %} class="alert alert-danger" {% endif %}> {{error}} </li> 
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Bienvenido al sistema de gestion escolar</h1>
        <p class="col-lg-10 fs-4">Para comenzar inicie sesion con su correspondiente usuario. Si no posee uno contactese con el administrador.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        <form action="/signin/" class="card card-body" method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}
            
            <button type="submit" class="btn btn-primary">Ingresar</button>        
            <a class="text-center" href="/signup"> Alta nuevo usuario</a>
          </form>
      </div>
    </div>
  </div>

{% endblock content %}
