{% extends 'index.html' %}
{% load bootstrap5 %}

{% load static %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
{% endblock %}
{% block content %}

{{form.media}}

<div class="container ">
    {% if edit == True %}
    <h1> Modificar Estudiante</h1>
    {% else %}
    <h1>Alta Estudiante</h1>
    {% endif %}
        <div class="container">
            <form class="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <hr>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </form>
        </div>
    </div>

{% comment %} {% load static %} {% endcomment %}
{% load static %} 

<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

{% endblock %}
