{% extends 'base.html' %}
{% load static %}

{% block content %}


{% load bootstrap5 %}



<table id="tabla-elementos">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Ciclo lectivo</th>
            <th>Ciclo Año</th>
            <th>Fecha de inscripcion</th>

        </tr>
    </thead>
    <tbody> 
        
        {% for insc in estudiantes %}
      
            <tr>
                <td>{{ insc.estudiante }}</td>
                <td>{{ insc.ciclo }}</td>
                <td>{{ insc.anio }}</td>
                <td>{{ insc.fecha }}</td>

            </tr>
        {% endfor %} 
   
    </tbody>
</table>

{% endblock %}