{% extends 'Core/Plan/menuCiclo.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<!-- CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

{% load bootstrap5 %}

{{form.media}}

<div class="">
    <h2 class="text-center"> Inscripciones de docente Ciclo {{ ciclo.anioCalendario }} </h2> 
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="0">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
    </a>
    <div class="container-fluid">
        <div class="card"> 
            {% if correcto %} 
                <li class= "alert alert-primary" > {{correcto}} </li>
            {% endif %}

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-black text-white form-label">Inscribir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr style="color: #0056b2;" />
        <div class="">
            <h2 class="text-center">  Inscriptos Ciclo lectivo{{ ciclo.anioCalendario }}</h2>
            <!-- <input type="text" id="busqueda" placeholder="Buscar por nombre"> -->
            <table class="table container container-fluid" id="table_id">
                <thead>
                    <tr>
                        <th>Dni</th>
                        <th>Docente</th>
                        <th>Año</th>
                        <th>Fecha de inscripcion</th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody> 
                    
                    {% for insc in inscriptos %}
                  
                        <tr>
                            <td>{{ insc.docente.dni }}  </td>
                            <td>{{ insc.docente.nombre }}&nbsp;{{ insc.docente.apellido }}</td>
                            <td>{{ insc.anio }}</td>
                            <td>{{ insc.fecha }}</td>

                            <td> <a class="btn btn-danger delete-inscripcion" href="/Core/docente/eliminarInscripcionDocente/{{insc.docente.id}}/{{insc.anio.id}}/{{insc.ciclo.id}}">Eliminar</a>  
                            </td> 
                        </tr>
                    {% endfor %} 
               
                </tbody>
            </table>        
        </div>
    </div>
    

  
{% endblock %}

{% comment %} {% load static %} {% endcomment %}

{% block scripts %}

{% comment %} <!--script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script--> {% endcomment %}
<!-- JavaScript de DataTables -->
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.css" rel="stylesheet">
 
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


$(document).ready(function () {
    // Clonar las celdas del encabezado y agregar filtros a todas excepto la última
    $('#table_id thead tr th').each(function (index) {
        if (index < $('#table_id thead tr th').length - 1) {
            $(this).clone(true)
                .addClass('form-label filters')
                .appendTo($(this));
        }
    });

    var table = $('#table_id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
        },
        initComplete: function () {
            var api = this.api();

            // Agregar filtros a todas las celdas clonadas excepto la última
            $('.filters').each(function (index) {
                if (index < api.columns().count() - 1) {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="container" placeholder="' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (api.column(index).search() !== this.value) {
                            api
                                .column(index)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
        }
    });
});

</script>
<script>
    $(document).ready(function () {
        $('.delete-inscripcion').click(function (event) {
            event.preventDefault(); // Evita que el enlace se siga al hacer clic
    
            var url = $(this).attr('href'); // Obtiene la URL del enlace
            var estudianteId = $(this).data('estudiante-id'); // Obtiene el ID del estudiante
    
            // Muestra el alerta de confirmación
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Quieres eliminar este Horario?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, realiza la eliminación
                    window.location.href = url;
                }
            });
        });
    });
    </script>


<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}