{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<!-- CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

{% load bootstrap5 %}

{{form.media}}

<div class="container">
    <h2> Inscripciones </h2>
    <div class="container">
        <div class="card"> 
            {% if correcto %} 
                <li class= "alert alert-primary" > {{correcto}} </li>
            {% endif %}

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-black text-white form-label">Inscribir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="container container-fluid">
            <h2> Inscriptos Ciclo lectivo{{ ciclo.anioCalendario }}</h2>

            <!-- <input type="text" id="busqueda" placeholder="Buscar por nombre"> -->
            <table class="table container-sm container-fluid" id="table_id">
                <thead>
                    <tr>
                        <th>Dni</th>
                        <th>Estudiante</th>
                        <th>Ciclo lectivo</th>
                        <th>Ciclo Año</th>
                        <th>Fecha de inscripcion</th>
                        <th> Acciones</th>

                    </tr>
                </thead>
                <tbody> 
                    
                    {% for insc in inscriptos %}
                  
                        <tr>
                            <td>{{ insc.estudiante.Dni }}  </td>
                            <td>{{ insc.estudiante.Nombre }}&nbsp;{{ insc.estudiante.Apellido }}</td>
                            <td>{{ insc.ciclo }}</td>
                            <td>{{ insc.anio }}</td>
                            <td>{{ insc.fecha }}</td>
                            <td> <a class="btn btn-danger">Eliminar </a>  
                                <a class="btn btn-primary">Modificar </a>
                            </td> 
                        </tr>
                    {% endfor %} 
               
                </tbody>
            </table>        
        </div>
    </div>

{% endblock %}

{% comment %} {% load static %} {% endcomment %}

{% block scripts %}

{% comment %} <!--script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script--> {% endcomment %}
<!-- JavaScript de DataTables -->
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.css" rel="stylesheet">
 
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>

<script>
    $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table_id thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#table_id thead');
 
    var table = $('#table_id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" class="container-fluid small" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>



<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}