{% extends 'Core/Plan/menuCiclo.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<!-- CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

{% load bootstrap5 %}

{{form.media}}

<div class="container">
    <h2 class="text-center"> Inscripciones de docente Ciclo {{ ciclo.anioCalendario }} </h2> 
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-slide-to="0">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
    </a>
    <div class="container">
        <div class="card"> 
            {% if correcto %} 
                <li class= "alert alert-primary" > {{correcto}} </li>
            {% endif %}

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-black text-white form-label">Inscribir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr style="color: #0056b2;" />
        <div class="">
            <h2 class="text-center">  Inscriptos Ciclo lectivo{{ ciclo.anioCalendario }}</h2>
            <!-- <input type="text" id="busqueda" placeholder="Buscar por nombre"> -->
            <table class="table container-sm container-fluid" id="table_id">
                <thead>
                    <tr>
                        <th>Dni</th>
                        <th>Docente</th>
                        <th>Ciclo Año</th>
                        <th>Fecha de inscripcion</th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody> 
                    
                    {% for insc in inscriptos %}
                  
                        <tr>
                            <td>{{ insc.docente.dni }}  </td>
                            <td>{{ insc.docente.nombre }}&nbsp;{{ insc.docente.apellido }}</td>
                            <td>{{ insc.anio }}</td>
                            <td>{{ insc.fecha }}</td>
                            <td> <a class="btn btn-danger" href="/Core/docente/eliminarInscripcion/{{insc.docente.id}}">Eliminar </a>  
                            </td> 
                        </tr>
                    {% endfor %} 
               
                </tbody>
            </table>        
        </div>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Imágenes de Ayuda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://via.placeho      window.history.back();lder.com/800x400?text=Imagen+1" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Imagen+2" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Imagen+3" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% comment %} {% load static %} {% endcomment %}

{% block scripts %}

{% comment %} <!--script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script--> {% endcomment %}
<!-- JavaScript de DataTables -->
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.css" rel="stylesheet">
 
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>
<script>
    $(document).ready(function () {
        var myCarousel = $('#carouselExampleControls');
        var myModalEl = $('#exampleModal');
    
        myModalEl.on('show.bs.modal', function (event) {
            var trigger = event.relatedTarget;
            myCarousel.carousel(parseInt($(trigger).data('bs-slide-to')));
        });
    });
    </script>
<script>
$(document).ready(function () {
    // Clonar las celdas del encabezado y agregar filtros a todas excepto la última
    $('#table_id thead tr th').each(function (index) {
        if (index < $('#table_id thead tr th').length - 1) {
            $(this).clone(true)
                .addClass('form-label filters')
                .appendTo($(this));
        }
    });

    var table = $('#table_id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
        },
        initComplete: function () {
            var api = this.api();

            // Agregar filtros a todas las celdas clonadas excepto la última
            $('.filters').each(function (index) {
                if (index < api.columns().count() - 1) {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="container-fluid small" placeholder="' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (api.column(index).search() !== this.value) {
                            api
                                .column(index)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
        }
    });
});

</script>
<script>
    function goBack() {
        window.location.replace(document.referrer);
    }
    </script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}