{% extends 'base.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<!-- CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

{% load bootstrap5 %}

{{form.media}}

<div class="container">
    <h2> Inscripciones</h2>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-black text-white form-label">Inscribir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="container">
            <h2> Inscriptos Ciclo lectivo{{ ciclo.anioCalendario }}</h2>

            <!-- <input type="text" id="busqueda" placeholder="Buscar por nombre"> -->
            <table class="table table-striped" id="table_id">
                <thead>
                    <tr>
                        <th>Dni</th>
                        <th>Estudiante</th>
                        <th>Ciclo lectivo</th>
                        <th>Ciclo Año</th>
                        <th>Fecha de inscripcion</th>
                        <th> Acciones</th>

                    </tr>
                </thead>
                <tbody> 
                    
                    {% for insc in inscriptos %}
                  
                        <tr>
                            <td>{{ insc.estudiante.Dni }}  </td>
                            <td>{{ insc.estudiante.Nombre }}&nbsp;{{ insc.estudiante.Apellido }}</td>
                            <td>{{ insc.ciclo }}</td>
                            <td>{{ insc.anio }}</td>
                            <td>{{ insc.fecha }}</td>
                            <td> <a class="btn btn-danger">Eliminar </a>  
                                <a class="btn btn-primary">Modificar </a>
                            </td> 
                        </tr>
                    {% endfor %} 
               
                </tbody>
            </table>        
        </div>
    </div>

{% endblock %}

{% comment %} {% load static %} {% endcomment %}

{% block scripts %}

{% comment %} <!--script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script--> {% endcomment %}
<!-- JavaScript de DataTables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function() {
        $('#table_id').DataTable();
    });
</script>


<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}