{% extends 'home.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="content">
            <h1><a href="/">Lista Localidad</a></h1>
            <div class="hidden orden-listado">
               <div class="flex-md-column-reverse" >
                 <table class="table table-bordered table-hover" >
                   <thead class="hidden orden-listado">
                        <tr class="table-hover">
                            <th>Codigo Postal</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                   </thead>
                <tbody >
                    {% block tabla %}
                    {% if object_list %}
                        {% for localidad in object_list %}
                            <tr>
                              <td>{{ localidad.CodigoPosta}}</td>
                              <td>{{ localidad.NombreLocalidad }}</td>
                            </tr>
                         {% endfor %}
                    {% else %}
                        <h1>NO HAY LOCALIDAD PARA LISTAR</h1>
                        {% endif %}
                       {% endblock tabla %}
                    </tbody>
                </table>
                </div>

            </div>
        </div>
{%endblock %}

