{% extends 'base.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<!-- CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

{% load bootstrap5 %}
<div class="container container-fluid">

  <!-- <form method="post" action="{/% url 'cargarInasistencia' %/ id}"> -->
  <form method="post" action="/Clases/cargarInasistencia/{{2}}/">
    {% csrf_token %}
    {% if inscriptos %}
    <h1> Alumnos</h1>
    <ul>        
      {% for estudiante in inscriptos %}
      <li>
        <label>
            <input type="checkbox" name="inasistencias_seleccionadas" value="{{ estudiante.id }}">
            {{ estudiante.estudiante.Nombre }}
          </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">Cargar Inasistencia</button>
    {% else %}
        <p>No hay alumnos disponibles.</p>
        {% endif %}
  </form>
    {% endblock %}
    
  </div>

    {% comment %} {% load static %} {% endcomment %}