{% extends 'home.html' %}
{% block content %}
  {% load bootstrap5 %}
  <div class="container container-fluid">
    <h1>Alumnos</h1>
    <form method="post" action="/Clases/cargarInasistencia/{{idDivision}}/">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ausente?</th>
            <th>Justificado</th>
          </tr>
        </thead>
        <tbody>
          {% if inscriptos %}
            {% for estudiante in inscriptos %}
              <tr>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>
                  <input type="checkbox" name="inasistencias_seleccionadas" value="{{ estudiante.id }}" class="falta-checkbox">
                </td>
                <td>
                  <input type="checkbox" name="{{ estudiante.id }}" class="justificado-checkbox" disabled>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">No hay alumnos disponibles.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Cargar Inasistencia</button>
    </form>

    <script>
      // Habilitar o deshabilitar el checkbox "Justificado" al cambiar la casilla "Falta"
      $(document).ready(function () {
        $('.falta-checkbox').change(function () {
          var justificadoCheckbox = $(this).closest('tr').find('.justificado-checkbox');
          justificadoCheckbox.prop('disabled', !this.checked);
        });
      });
    </script>
  </div>
{% endblock %}
