{% extends 'index.html' %}
{% block content %}
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          estudiantes ausentes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ inasistencias }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-user-times"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Cantidad inscriptos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
                      <div class="small mb-0 font-weight-bold text-gray-800">Estudiantes: {{ cantInscriptos }}</div>
                      <div class="small mb-0 font-weight-bold text-gray-800">Docentes: {{ cantDocInscriptos }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Promedio inasistencia
                      </div>
                      <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{porcentaje}} % </div>
                          </div>
                          <div class="col">
                              <div class="progress progress-sm mr-2">
                                  <div class="progress-bar bg-info" role="progressbar"
                                      style="width: {{porcentaje}} %" aria-valuenow="{{porcentaje}}" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Esudiantes sin inscripcion</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ sinInscripcion }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Boletines de Estudiantes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <a href="/Clases/verBoletines">

                                <button class="btn btn-primary">
                                    Ver boletin
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-6 col-md-9 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    {% for instancia in instanciaDisponible %}
                    {{instancia}}
                    <br>
                    {% endfor %}
                    <a href="/Clases/verInstancias">
                        <button class="btn btn-primary"> Habilitar instancia</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-6 col-md-9 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    Cargar Inasistencia
                    <a href="/Core/aniosDePlanActual">
                        <button class="btn btn-primary"> Cargar </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>


</div>

<!-- Graficos -->

<div class="row">
  <!-- Area Chart -->
 
  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Inscripciones</h6>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>
          <!-- Card Body -->


          <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                  <canvas id="myPieChart"></canvas>
              </div>
              <div class="mt-4 text-center small">
                  <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Con aulas
                  </span>
                  <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Sin aulas
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- End Graficos -->

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Obteniendo los datos pasados desde la vista
    const chartData = {{ chart_data|safe }};

    // Configuración del gráfico
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: chartData.labels,
            datasets: [{
                data: chartData.data,
                backgroundColor: ['#4e73df', '#1cc88a'],
                hoverBackgroundColor: ['#2e59d9', '#17a673'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
    });
});
</script>

{% endblock %}
