{% extends 'base.html' %}
{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/es.min.js"></script> <!-- Esto es si deseas el soporte en español -->

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />

{% endblock %}

{% block content %}

{% load bootstrap5 %}

{{form.media}}

<body>

    <div class="container contact-form">
        <h1></h1>
        <hr>
        <form class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <div class="form-cotrol">
                <input class="btn btn-primary" type="submit" value="Guardar">
            </div>
        </form>
    </div>    

    
    <div class="container">

        <h1>Consulta de Faltas</h1>
        
        <form id="consultaForm">
            {% csrf_token %}
        <label for="fechaInicio">Fecha de inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" required>

        <label for="fechaFin">Fecha de fin:</label>
        <input type="date" id="fechaFin" name="fechaFin" required>

        <label for="estudiante">Estudiante:</label>
        <input type="input" id="estudiante" name="estudiante" required>


        <button type="button" id="consultaBtn">Consultar Faltas</button>
    </form>

    <div id="resultadosContainer">
        <!-- Aquí se mostrarán los resultados de la consulta -->
    </div>

</div>
{% endblock %}
{% comment %} 
{% load static %} 
{% endcomment %}

{% block scripts %}

{% comment %} 

<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script> 
{% endcomment %}
<!-- JavaScript de DataTables -->
<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.css" rel="stylesheet">
 
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/af-2.6.0/cr-1.7.0/fc-4.3.0/sc-2.3.0/datatables.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#consultaBtn').click(function () {
                var fechaInicio = $('#fechaInicio').val();
                var fechaFin = $('#fechaFin').val();
                console.log(fechaInicio,fechaFin)
                var estudiante = $('#estudiante').val();

                $.ajax({
                    type: 'POST',
                    url: '/Clases/consultar_faltas/',
                    data: {
                        'fecha_inicio': fechaInicio,
                        'fecha_fin': fechaFin,
                        'estudiante_id': estudiante,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        // Procesar y mostrar los resultados en '#resultadosContainer'
                        console.log(data.resultados);
                        $('#resultadosContainer').empty();
                        // Verificar si hay resultados
                        if (data.resultados.length > 0) {
                            // Iterar sobre los resultados y agregarlos al contenedor
                            $('#resultadosContainer').html('<p>Las faltas registradas entre' + fechaInicio +' y '+ fechaFin +'</p>');
                            $.each(data.resultados, function (index, resultado) {
                                var html = '<p>Nombre: ' + resultado.nombre_alumno + ', Fecha de falta: ' + resultado.fecha + '</p>';
                                $('#resultadosContainer').append(html);
                            });
                        } else {
                            // Si no hay resultados, mostrar un mensaje indicando eso
                            $('#resultadosContainer').html('<p>No hay faltas encontradas para el período seleccionado.</p>');
                        }
                                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
        <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>

    {% endblock %}
